<li class="singleContact" id="{{ _id }}">
  
  <p class="contactFullName"> <i class="fa fa-user"></i> {{ name }}</p>

  <p class="contactEmail"> <i class="fa fa-envelope-o"></i> {{ email }}</p>

  <p class="contactPhone"> <i class="fa fa-mobile"></i> {{ phone }}</p>

  <p class="contactTwitter"> <i class="fa fa-twitter"></i> {{ twitter }}</p>

</li>
